body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #888;
}

.profile-section {
  text-align: center;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid #333;
}

.profile-details h1 {
  font-size: 32px;
  margin: 10px 0;
}

.profile-details p {
  margin: 5px 0;
}

.quote {
  font-size: 24px;
  margin-top: 20px;
}

.description {
  text-align: justify;
}

.collaboration-section h2,
.publication-section h2 {
  font-size: 24px;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

ul li {
  margin: 5px 0;
}

hr.title {
  height: 2px;
  background: #333;
}

